# Configuración para Odoo
ODOO_URL=
ODOO_DB=
ODOO_USERNAME=
ODOO_PASSWORD=



# Configuración para JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRATION_MINUTES=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRATION_MINUTES=

# Configuración para correo
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_PORT=
EMAIL_SERVER=
EMAIL_TLS=
EMAIL_SSL=

# encriptación
ENCRYPTION_KEY=

# OTT
OTT_URL_BASE_API=
OTT_USERNAME=
OTT_PASSWORD=