<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código de Verificación</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div class="container" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="header" style="text-align: center; margin-bottom: 20px;">
            <!-- Espacio para la imagen del logo -->
            <img src="https://maplenet.com.bo/_astro/NUEVO%20LOGO%20maplenet-02.CtjJyrAW.webp" alt="Maplenet Logo" style="max-width: 150px;"/>
        </div>

        <h1 style="color: #333333; font-size: 24px; margin-bottom: 10px; text-align: center;">CÓDIGO DE VERIFICACIÓN</h1>

        <div class="header" style="text-align: center;">
            <!-- Espacio para la imagen del logo -->
            <img src="https://i.imgur.com/KMUpIhH.png" alt="Imagen de seguridad" style="max-width: 150px;"/>
        </div>
        <div class="content" style="text-align: center;">
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">Hola:</p>
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">Para ayudarnos a confirmar tu identidad, debemos verificar tu dirección de correo electrónico. Ingresa el siguiente código en nuestra plataforma.</p>
            <div class="code" style="background-color: #f0f0f0; padding: 10px; border-radius: 4px; font-size: 24px; font-weight: bold; color: #333333; margin: 20px 0; display: inline-block;">
                {{ code }}
            </div>
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">Si no solicitaste ningún código, ignora este correo.</p>
        </div>
        <div class="footer" style="text-align: center; margin-top: 20px; color: #999999; font-size: 14px;">
            <p>Atentamente, el equipo de <a href="#" style="color: #007BFF; text-decoration: none;">Maplenet</a>.</p>
        </div>
    </div>
</body>
</html>
