<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FINAL TORNEO AMISTOSO DE VERANO</title>
</head>
<body style="font-family:'Exo 2',Arial,sans-serif;background-color:#ffffff;margin:0;padding:0">
  <div style="max-width:700px;margin:20px auto;background-color:#e2e2e2;padding:30px;box-shadow:0 0 10px rgba(0,0,0,0.1)">
    <!-- Header -->
    <div style="background:linear-gradient(180deg,#2d2153 0%,#1a1436 100%);padding:40px 20px;border-radius:0 0 90px 90px;text-align:center">
      <img src="https://maplenet.com.bo/_astro/NUEVO%20LOGO%20maplenet-02.CtjJyrAW.webp" alt="Maplenet Logo" style="max-width:200px;margin:0 auto"/>
      <h1 style="color:#ffffff;font-size:28px;margin:30px 0;font-weight:600">FINAL TORNEO AMISTOSO DE VERANO</h1>
      <p style="color:#ffffff;font-size:16px;margin-bottom:30px">
        <!-- Para disfrutar la final de la copa: -->
      </p>
      
      <!-- Bloque para Ingresar al Portal -->
      <div style="margin-top:30px">
        <p style="color:#ffffff;font-size:16px;margin-bottom:10px">
          Para disfrutar la final, pulsa el siguiente enlace:
        </p>
        <a href="https://www.maplenet.com.bo/futbol/final" target="_blank" style="display:inline-block;background-color:#ffffff;padding:15px 30px;border-radius:4px;text-decoration:none;color:#2d2153;font-size:18px;font-weight:bold">
          <img src="https://maplenet.com.bo/_astro/MPLUS%20logo-02.BbiqbXj7.webp" alt="MPLUS Logo" style="vertical-align:middle;width:24px;height:24px;margin-right:8px"/> Ver final
        </a>
      </div>
      
    </div>
    <!-- Footer centrado -->
    <div style="padding:0 40px;margin-top:30px;text-align:center">
      <p style="color:#2d2153;font-size:16px;margin-bottom:20px;font-weight:bold">Contáctanos:</p>
      <div style="margin:0 auto;display:inline-block">
        <a href="https://www.facebook.com/MaplenetBol" style="color:#2d2153;text-decoration:none;margin:0 8px">
          <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook" style="width:24px;height:24px"/>
        </a>
        <a href="https://www.instagram.com/maplenet.bol/" style="color:#2d2153;text-decoration:none;margin:0 8px">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" style="width:24px;height:24px"/>
        </a>
        <a href="https://www.linkedin.com/company/maplenetbolivia/" style="color:#2d2153;text-decoration:none;margin:0 8px">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width:24px;height:24px"/>
        </a>
        <a href="https://www.tiktok.com/@maplenet.bol" style="color:#2d2153;text-decoration:none;margin:0 8px">
          <img src="https://cdn-icons-png.flaticon.com/512/3046/3046126.png" alt="TikTok" style="width:24px;height:24px"/>
        </a>
        <a href="https://www.youtube.com/@Maplenet-f8x" style="color:#2d2153;text-decoration:none;margin:0 8px">
          <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="Youtube" style="width:24px;height:24px"/>
        </a>
      </div>
      <a href="https://maplenet.com.bo/legal/terminos/" style="text-decoration:underline;color:#2d2153">
        <p style="font-size:12px;color:#2d2153;margin-top:20px;font-weight:bold">Términos y condiciones de uso.</p>
      </a>
      <p style="font-size:12px;color:#2d2153;margin:5px 0;font-weight:bold">Todos los derechos reservados.</p>
      <div style="margin-top:30px;display:flex;align-items:center;justify-content:center">
        <img src="https://educa.att.gob.bo/pluginfile.php/1/theme_lambda/logo/1660671444/Logo.png" alt="ATT Logo" style="width:48px;height:35px;margin-right:10px"/>
        <p style="font-size:12px;color:#2d2153;margin:0;font-weight:bold">Esta empresa está regulada y fiscalizada por la ATT</p>
      </div>
    </div>
  </div>
</body>
</html>
